<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ABONADO: Vinos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <br>
            Bienvenido <label>{{id}} </label>, estos son los vinos disponibles acorde a sus preferencias:
            <br>
        </div>
        <div class="panel-body" ng-if="vinosStatus !== 'Not Found'">
            
            <table class="table table-striped table-bordered">
                <thead> <tr>
                        <th>Categoria</th>
                        <th>Comentario</th>
                        <th class="text-right">Nombre Comercial</th> <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vinillos">
                        <td>{{item.categoria.nombre}}</td>
                        <td>{{item.comentario}}</td>
                        <td>{{item.nombrecomercial}}</td>
                        <td>
                            <a href="https://en.wikipedia.org/w/api.php?action=opensearch&search=%20{{item.nombrecomercial}}%22&limit=4&format=json">
                                Enlace a  entrada de vino de Wikipedia
                            </a>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-primary" ng-click="add2Cart(item)">
                                Añadir a la cesta</button>  </td>
                    </tr>
                </tbody>
            </table>
            
            <div ng-if="add2cartStatus === 'Not Found'">
                No se ha podido añadir a la cesta.
            </div>
            
            <div> Productos en la cesta: {{cesta.productos.length}} 
                <button ng-click="changeView('shoppingCart')"> Ver la cesta</button>
            </div>
        </div>
        
        <div ng-if="vinosStatus === 'Not Found'">
            <label> Ninguno :(</label>
        </div>
        
        <div>
            <button ng-click="cerrarSesion()"> Cerrar Sesion </button>
        </div>

    </body>
</html>
