<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Carrito de la compra</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-if="cesta.size !== 0"> 
            <table class="table table-striped table-bordered">
                <thead> <tr>
                        <th>Categoria</th>
                        <th>Comentario</th>
                        <th class="text-right">Nombre Comercial</th> <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 
                        Angular no permite que se repita el mismo objeto en un bucle, por lo que hay
                            que indicar el "track by $index" para poder permitirlo.
                    -->
                    <tr ng-repeat="item in cesta.productos track by $index">
                        <td>{{item.categoria.nombre}}</td>
                        <td>{{item.comentario}}</td>
                        <td>{{item.nombrecomercial}}</td>
                        <td><button ng-click="buyWine(item)">Comprar</button></td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="buy()">COMPRAR TODO</button>
        </div>
        <div ng-if="buyStatus === 'Accepted'">
            <br>
            <label> Compra realizada con éxito</label>
            <br>
            </div>
        <br>
        <button ng-click="changeView('preferences')">Volver a preferencias</button>
    </body>
</html>
