<!DOCTYPE html>
<html>
    <head>
        <title>table View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead> <tr>
                        <th>categoria</th>
                        <th>comentario</th>
                        <th class="text-right">nombrecomercial</th> <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in products">
                        <td>{{item.categoria}}</td>
                        <td>{{item.comentario}}</td>
                        <td>{{item.nombrecomercial}}</td>
                        <td class="text-center">
                            <button class="btn btn-xs btn-primary"
                                    ng-click="deleteProduct(item)">Delete</button> <button class="btn btn-xs btn-primary"
                                    ng-click="editOrCreateProduct(item)">Edit</button> </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" ng-click="listProducts()">Refresh</button>
                <button class="btn btn-primary" ng-click="editOrCreateProduct()">New</button> </div>
        </div>
    </body>
</html>